.quantity{
   background-color: lightblue;
    padding: 1px 3px 1px 3px;
    left: auto;
    right: 10px;
    margin-right: 777px;

}
.quantity_minus{

border-radius: 3px 0 0 3px;
}

.quantity_plus{
    
    border-radius: 0 3px 3px 0;
}

.container{

}

.quantity_minus:link,
.quantity_plus:link{
    color: #8184a1;

}

.quantity_input{
    width: 42px;
    height: 29px;
    margin: 0;
    padding: 0;
    text-align: center;
    border-top: 2px solid #dee0ee;
    border-bottom: 2px solid #dee0ee;
    border-left: 1px solid #dee0ee;
    border-right: 2px solid #dee0ee;
    background: #fff;
    color: #8184a1;

}